<div class="page-header">
  <h1>Editing Modification #<%= @modification.id %></h1>
</div>

<%= form_tag(modification_url(@modification), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :suspension, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :suspension, @modification.suspension, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :chassis, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :chassis, @modification.chassis, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :engine, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :engine, @modification.engine, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :exhaust, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :exhaust, @modification.exhaust, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :drivetrain, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :drivetrain, @modification.drivetrain, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :brakes, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :brakes, @modification.brakes, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :aesthetics, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :aesthetics, @modification.aesthetics, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :aerodynamics, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :aerodynamics, @modification.aerodynamics, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :tiles, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :tiles, @modification.tiles, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :wheels, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :wheels, @modification.wheels, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :data, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :data, @modification.data, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :interior, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :interior, @modification.interior, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :safety, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :safety, @modification.safety, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Modification", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
