<div class="page-header">
  <h1>New Modification</h1>
</div>

<%= form_tag(modifications_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :suspension, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :suspension, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :chassis, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :chassis, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :engine, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :engine, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :exhaust, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :exhaust, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :drivetrain, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :drivetrain, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :brakes, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :brakes, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :aesthetics, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :aesthetics, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :aerodynamics, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :aerodynamics, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :tiles, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :tiles, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :wheels, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :wheels, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :data, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :data, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :interior, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :interior, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :safety, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :safety, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Modification", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
