<div class="page-header">
  <h1>Modification #<%= @modification.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Suspension</dt>
  <dd><%= @modification.suspension %></dd>

  <dt>Chassis</dt>
  <dd><%= @modification.chassis %></dd>

  <dt>Engine</dt>
  <dd><%= @modification.engine %></dd>

  <dt>Exhaust</dt>
  <dd><%= @modification.exhaust %></dd>

  <dt>Drivetrain</dt>
  <dd><%= @modification.drivetrain %></dd>

  <dt>Brakes</dt>
  <dd><%= @modification.brakes %></dd>

  <dt>Aesthetics</dt>
  <dd><%= @modification.aesthetics %></dd>

  <dt>Aerodynamics</dt>
  <dd><%= @modification.aerodynamics %></dd>

  <dt>Tiles</dt>
  <dd><%= @modification.tiles %></dd>

  <dt>Wheels</dt>
  <dd><%= @modification.wheels %></dd>

  <dt>Data</dt>
  <dd><%= @modification.data %></dd>

  <dt>Interior</dt>
  <dd><%= @modification.interior %></dd>

  <dt>Safety</dt>
  <dd><%= @modification.safety %></dd>

</dl>
