<div class="page-header">
  <h1>New Lap</h1>
</div>

<%= form_tag(laps_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :user_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :full_name, nil), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :modification_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :modification_id, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :lap_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :lap_date, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :track_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :track_id, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :lap_time, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :lap_time, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :video_link, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :video_link, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :data_file, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :data_file, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Lap", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
