<div class="page-header">
  <h1>New Experience</h1>
</div>

<%= form_tag(experiences_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :hpde, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :hpde, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :open_track_day, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :open_track_day, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :time_trial, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :time_trial, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :club, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :club, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :pro, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :pro, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Experience", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
