<div class="page-header">
  <h1>Experience #<%= @experience.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Hpde</dt>
  <dd><%= @experience.hpde %></dd>

  <dt>Open track day</dt>
  <dd><%= @experience.open_track_day %></dd>

  <dt>Time trial</dt>
  <dd><%= @experience.time_trial %></dd>

  <dt>Club</dt>
  <dd><%= @experience.club %></dd>

  <dt>Pro</dt>
  <dd><%= @experience.pro %></dd>

</dl>
