<div class="page-header">
  <h1>New Car</h1>
</div>

<%= form_tag(cars_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :user_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :user_id, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :year, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :year, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :make, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :make, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :model, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :model, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :modification_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :modification_id, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Car", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
